<!DOCTYPE html>
<html lang="es">

<head>
  <title><%= titulo %></title>
  <%- include("components/head") %>
</head>

<body>
  <%- include("components/menu") %>

  <main>
    <header>
      <h1>¡Saludos desde el <%= titulo %>!</h1>
    </header>

    <section class="panel-info">
      <h3>Funciones por hacer:</h3>
      <ul>
      </ul>
    </section>
  </main>
</body>

</html>