<nav>
  <ul>
    <!-- rutas publicas -->
    <li><a href="/">inicio</a></li>
    <li><a href="/iniciar-sesion-jwt">login con jwt</a></li>
    <li><a href="/iniciar-sesion-express-session">login express session</a></li>

    <!-- rutas privadas -->
    <li><a href="/panel-control">panel de control</a></li>
    <li><a href="/panel-sesiones">panel de sesiones</a></li>
    <li><a href="/cerrar-sesion">logout</a></li>
  </ul>
</nav>