<nav>
  <%= titulo %>
  <ul>
    <li><a href="/">inicio</a></li>
    <li><a href="/panel-control">panel de contorl</a></li>
    <li><a href="/iniciar-sesion">login</a></li>
    <li><a href="/cerrar-sesion">logout</a></li>
  </ul>
</nav>